<style>
    label { 
        width: 100px;
    }
</style>
<section id="account-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form name="loginForm"
                          ng-submit="vm.changePass(vm.oldPassword, vm.password.password)" novalidate>
                        <label for="oldPassword">Current password:</label>
                        <input ng-disabled="vm.isBusy" type="password" id ="oldPassword" ng-model="vm.oldPassword"/><br>
                        
                        <label for="password">New password:</label>
                        <input ng-disabled="vm.isBusy" type="password" id="password" ng-change="vm.isEqual()"
                               ng-model="vm.password.password"><br>

                        <label for="confirmation">Confirmation:</label>
                        <input ng-disabled="vm.isBusy" type="password" id="confirmation" ng-change="vm.isEqual()"
                               ng-model="vm.password.confirmation"><br>

                        <input ng-disabled="!vm.isPassEqual || vm.isBusy" type="submit" value="Submit"><br>
                        <p ng-show="!vm.isPassEqual">The new password and confirmation do not match.</p>

                    </form>
                </div>
            </div>
        </div>
    </section>
</section>