<section id="account-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    dddddddd
<!--                    <input type="password" ng-model="vm.password" ng-change="vm.checkPassword()"/>
                    <input type="password" ng-model="vm.passwordDoubleCheck"/>
                    <input type="button" value="confirm" ng-click="vm.changePassword()"/>
                </div>
                <div ng-show="vm.isPassIdentical">
                    <p>The passwords do not match</p>-->
                </div>
            </div>
        </div>
    </section>
</section>